*.iws
*.war
*.iml
*.ipr
*Db.properties
*Db.script
*.class
.settings
.classpath
.project
.idea
.DS_Store
.link_to*
prodDb.*
eclipse
stacktrace.log
out
target
target-eclipse
test/reports
web-app/plugins
web-app/WEB-INF/classes
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
grails-app/conf/Config.groovy
*.zip
