<plugin name='recaptcha-spring-security' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Roberto Pérez Alcolea</author>
  <authorEmail>roberto@perezalcolea.info</authorEmail>
  <title>Recaptcha Spring Security Plugin</title>
  <description>Prevents brute force attack with Spring security and Recaptcha.
</description>
  <documentation>http://grails.org/plugin/recaptcha-spring-security</documentation>
  <type>RecaptchaSpringSecurityGrailsPlugin</type>
  <resources>
    <resource>RecaptchaConfig</resource>
    <resource>org.codehaus.groovy.grails.plugins.recaptchaspringsecurity.LoginAttemptCacheService</resource>
    <resource>org.codehaus.groovy.grails.plugins.recaptchaspringsecurity.RecaptchaSpringSecurityMenuTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.google.guava' name='guava' version='14.0-rc1' />
    </compile>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='recaptcha' version='0.5.3' />
    </compile>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>